@model BancaEnLinea.Models.Transaccion

@{
    ViewData["Title"] = "Agregar Transacción";
}

<h2>Agregar Transacción</h2>


@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<form asp-action="Crear" method="post">
    <div class="form-group">
        <label asp-for="ClienteId"></label>
        <input asp-for="ClienteId" class="form-control" />
        <span asp-validation-for="ClienteId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Tipo"></label>
        <select asp-for="Tipo" class="form-control">
            <option value="Deposito">Deposito</option>
            <option value="Retiro">Retiro</option>
        </select>
        <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Monto"></label>
        <input asp-for="Monto" class="form-control" />
        <span asp-validation-for="Monto" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Fecha"></label>
        <input asp-for="Fecha" type="date" class="form-control" />
        <span asp-validation-for="Fecha" class="text-danger"></span>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" asp-for="Anulada">
        <label class="form-check-label" asp-for="Anulada"></label>
    </div>

    <button type="submit" class="btn btn-primary" style="margin:10px">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary" style="margin:10px">Cancelar</a>
</form>


