@model BancaEnLinea.Models.Cliente

@{
    ViewData["Title"] = "Borrar Cliente";
}

<h2>Borrar Cliente</h2>

<div class="alert alert-danger">
    <p>¿Está seguro que desea borrar el cliente, @Model.Nombre</p>
</div>

<div style="margin-top: 10px;">
    <form asp-action="BorrarConfirmado" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger" style="margin-right: 5px;">Aceptar</button>
        <a asp-action="Index" class="btn btn-secondary" style="margin-left: 5px;">Cancelar</a>
    </form>
</div>



